html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/*~~~~~~~~~~~ Menu ~~~~~~~~~~~~~~*/

#menu {

    margin: -43px auto 0 auto;
    text-align: center;
    height: auto;
    background: #f6f6f6;
    padding: 19px 0 19px 0;
    font-family: "vinyl",sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: -.03em;
    width: 60%;
}

#drawer {
    display: none;
    position: fixed;
    width: 280px;
    top: 0;
    left: -280px;
    height: 100%;
    background: #f5f5f5;
    font-size: 18px;
}

@media only screen and (max-width: 992px) {
    li#menunav {
        text-align: left;
    }

    #menunav a {
        color:#000;
        padding: 5px;
        display: block;
        text-align: left;
    }


    #menunav a:hover {
        border-bottom: 5px solid #92caab;
        text-decoration: none;
        border-bottom: 5px solid #92caab;
        margin-bottom: -5px
    }

    body#home a#homenav,
    body#proposal a#proposalnav,
    body#rsvp a#rsvpnav,
    body#details a#detailsnav,
    body#registry a#registrynav,
    body#services a#servicesnav {
        color: #000;
        border-bottom: 5px solid #92caab;
        text-decoration: none;
    }
}


li#menunav {
    display:inline;
    text-align: center;
    margin: 0 auto;
}


#menunav a {
    color:#000;
    margin:0 15px;
}


#menunav a:hover {
    border-bottom: 5px solid #92caab;
    text-decoration: none;
}

body#home a#homenav,
body#proposal a#proposalnav,
body#rsvp a#rsvpnav,
body#details a#detailsnav,
body#registry a#registrynav,
body#services a#servicesnav {
    color: #000;
    border-bottom: 5px solid #92caab;
    text-decoration: none;
}

.zag {
    background-image: url('../images/zag.png');
    background-repeat: repeat-x;
    height: 25px;
}

::selection {
    background:#92caab;
    text-decoration: none;
}
::-moz-selection {
    background:#92caab;
    text-decoration: none;
}
::-webkit-selection {
    background:#92caab;
    text-decoration: none;
}

#bars {
    display: block;
    background: rgb(255, 255, 255);
    width: 40px;
    text-align: center;
    outline: 2px solid rgb(136, 136, 136);
    position: fixed;
    top: 75px;
    left: 0;
    font-size: 25px;
    cursor: pointer;
    color: #92caab;
}

.centered-txt {
  margin: 0 auto;
  width: 454px;
}

@media(max-width:496px) {
    .centered-txt {
        margin: 0 auto;
        width: auto;
    }
}

#drawer {
    display: none;
    position: fixed;
    width: 280px;
    top: 0;
    left: -280px;
    height: 100%;
    font-size: 18px;
    background: rgba(34, 34, 34, 0.88);
    color: #fff;
    outline: 2px solid rgba(255, 255, 255, 0.52);
    overflow-y: auto;
}

.list-group-item {
    background-color: transparent !important;
    cursor: pointer;
    border-radius: 0 !important;
    border-left: none;
    border-right: none;
}

.list-group-item > a {
    color: rgba(255, 255, 255, 0.8) !important;
}


.zag {
    background-image: url('../images/zag.png');
    background-repeat: repeat-x;
    height: 25px;
}

.bump {
    width: 100%;
    height: 30px;
    clear:both;
}