@font-face {
  font-family: 'BebasNeueRegular';
  src: url('fonts/BebasNeue-webfont.eot');
  src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/BebasNeue-webfont.woff') format('woff'), url('fonts/BebasNeue-webfont.ttf') format('truetype'), url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Lobster13Regular';
  src: url('fonts/Lobster_1.3-webfont.eot');
  src: url('fonts/Lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Lobster_1.3-webfont.woff') format('woff'), url('fonts/Lobster_1.3-webfont.ttf') format('truetype'), url('fonts/Lobster_1.3-webfont.svg#Lobster13Regular') format('svg');
  font-weight: normal;
  font-style: normal
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

nav ul {
  list-style: none
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  outline: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

input, select {
  vertical-align: middle
}

select, input, textarea, button {
  font: 99% sans-serif
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif
}

body, select, input, textarea {
  color: #444;
  font-family: DroidSansRegular, serif
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: DroidSansBold, Arial, Helvetica, sans-serif
}

a:hover, a:active {
  outline: none;
  color: #fff
}

a, a:active, a:visited {
  color: #453c33
}

ul, ol {
  list-style: none;
  list-style-type: none
}

strong, th {
  font-weight: bold
}

td, td img {
  vertical-align: top;
  border: none
}

sub {
  vertical-align: sub;
  font-size: smaller
}

sup {
  vertical-align: super;
  font-size: smaller
}

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word
}

textarea {
  overflow: auto;
  resize: none
}

input[type="radio"] {
  vertical-align: text-bottom
}

input[type="checkbox"] {
  vertical-align: bottom
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline
}

.ie6 input {
  vertical-align: text-bottom
}

input[type=button], input[type=submit], button {
  cursor: pointer;
  border: none;
  outline: none
}

input[type="text"]:focus {
  outline: none
}

label {
  cursor: text
}

button, input, select, textarea {
  margin: 0
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red
}

::-moz-selection {
  background: #9c3b00;
  color: #fff;
  text-shadow: none
}

::selection {
  background: #9c3b00;
  color: #fff;
  text-shadow: none
}

button {
  width: auto;
  overflow: visible
}

html, body, .container {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0
}

.container {
  width: 960px;
  padding-bottom: 20px;
  margin: 0 auto;
  position: relative;
}

.snowflake {
  position: absolute
}

.invitation {
  background: url(images/invitation.png) no-repeat center top;
  height: 24rem;
  width: 750px;
  left: 50%;
  margin-left: -375px;
  position: absolute;
  top: 380px;
}

body {
  background: #c1e8ea url(images/bg.jpg);
  overflow-x: hidden
}

.header {
  width: 649px;
  height: 121px;
  background: url(images/header.png) no-repeat 0 0;
  position: relative;
  margin: 0 auto;
  z-index: 9999;
  line-height: 30px
}

.header strong, .header span {
  font-family: Lobster13Regular;
  display: block;
  font-size: 35px
}

.header strong {
  padding-top: 30px
}

.header span {
  display: block;
  font-family: Lobster13Regular;
  font-size: 25px
}

.praveen-priyal {
  height: 330px;
  width: 280px;
  position: absolute;
  /*background: url(images/praveen-priyal.png) no-repeat 0 0;*/
  left: 50%;
  margin-left: -140px;
  position: absolute;
  top: 140px;
}

.wrapper {
  width: 100%;
  background: url(images/heart.jpg) no-repeat center 70px;
  height: 100%
}

#bubble, #bubble1 {
  top: 100px;
  position: absolute;
  width: 320px;
  height: 300px;
  background: url(images/bubbles.png) no-repeat
}

#bubble1 {
  right: 80px;
  background-position: -328px 0px;
  width: 250px;
  height: 220px
}

#bubble {
  top: 15px
}

.bubbles {
  cursor: default
}

.praveen, .priyal {
  font-family: BebasNeueRegular, Arial;
  text-align: center;
  font-size: 75px;
  left: 61px;
  position: absolute;
  top: 130px;
  display: block;
  height: 144px;
  text-transform: uppercase;
  color: #453c33;
  text-shadow: 2px 2px 0px #FFF, 3px 3px 0px #707070;
  overflow: hidden;
}

.praveen:hover, .priyal:hover {
  color: #61554e
}

.priyal {
  left: auto;
  right: 100px;
  width: 225px
}

.praveen {
  width: 275px
}

.praveen span, .priyal span {
  text-shadow: none
}

span.place {
  bottom: 38px;
  color: #000000;
  display: block;
  font-size: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
  letter-spacing: 1px;
  font-family: Lobster13Regular;
  text-transform: capitalize;
  left: 0;
}

.praveen:hover .tip, .priyal:hover .tip {
  display: block
}

.tip {
  display: none;
  position: absolute;
  font-size: 25px;
  width: 14rem;
  left: 0;
  top: 80px;
  margin: 0 2rem;
  background: #FFF;
  color: #453c33;
  padding: 3px 0;
  letter-spacing: 2px;
  opacity: .9;
  z-index: 9999;
}

.bubble-content {
  text-align: left;
  color: #FFF;
  font-family: Lobster13Regular;
  font-size: 20px;
  padding: 100px 0px 10px 45px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0px #629F9F, 2px 2px 0px #000
}

.bubble-content strong {
  font-size: 58px;
  display: block;
  font-family: BebasNeueRegular;
  text-shadow: 2px 2px 0px #629F9F, 4px 4px 0px #000;
  letter-spacing: 0;
}

.bubble-content strong span {
  font-size: 20px;
  font-family: Lobster13Regular;
  text-shadow: 1px 1px 0px #629F9F, 2px 2px 0px #000
}

#bubble1 .bubble-content {
  text-align: right;
  padding: 60px 53px 0 0
}

.year {
  position: absolute;
  top: 51px;
  right: 53px
}

.flower {
  width: 100%;
  height: 100%;
  display: block
}

.share {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

.share .ico .hoverimg {
  background: url(images/share.png) no-repeat -2px 0;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 999999
}

.share div.ico:hover div.hoverimg {
  background-position: -2px -41px;
  z-index: 999999
}

.share .ico.twitter .hoverimg {
  background-position: -100px 0
}

.share div.ico.twitter:hover div.hoverimg {
  background-position: -100px -41px
}

.share .ico.gplus .hoverimg {
  background-position: -50px 0
}

.share div.ico.gplus:hover div.hoverimg {
  background-position: -50px -41px
}

.share .ico.gmap .hoverimg {
  background-position: -148px 0
}

.share div.ico.gmap:hover div.hoverimg {
  background-position: -148px -41px
}

.share div.ico:hover {
  z-index: 9999
}

.share .ico.twitter {
  top: 400px;
  left: 50%;
  margin-left: -380px
}

.share .ico.gplus {
  left: 50%;
  margin-left: 355px;
  top: 496px
}

.share .ico.gmap {
  top: 400px;
  left: 50%;
  margin-left: -455px;
  top: 435px
}

.share .pop * {
  font-size: 22px;
  color: #000;
  line-height: 20px;
  text-align: center;
  font-family: Lobster13Regular
}

.share .pop span {
  display: block;
  font-family: Lobster13Regular;
  font-size: 35px;
  height: 43px;
  line-height: 50px
}

.share .pop div.share-this {
  height: 30px;
  margin-top: 58px
}

.share .pop div.share-this iframe {
  margin: 0 auto;
  display: block;
  clear: both
}

.share .ico {
  position: absolute;
  display: block;
  width: 42px;
  height: 42px;
  z-index: 1;
  left: 50%;
  margin-left: 415px;
  top: 460px;
  text-align: center;
  font-size: 0
}

.share .pop {
  height: 210px;
  width: 225px;
  background: url(images/cloud.png) no-repeat center;
  position: absolute;
  z-index: 15000;
  text-align: center;
  top: -45px;
  left: -15px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  visibility: hidden
}

.share .gmap.ico .pop {
  width: 1px;
  height: 1px;
  overflow: hidden
}

.share div.gmap.ico:hover .pop {
  width: auto;
  height: auto;
  overflow: visible
}

.share div.ico.twitter:hover .pop, .share div.ico.gplus:hover .pop, .share div.ico.facebook:hover .pop, .share div.ico.gmap:hover .pop {
  opacity: 1;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
  overflow: visible;
  visibility: visible
}

.share .twitter .pop {
  background-position: -253 0;
  width: 200px
}

.share .facebook .pop {
  background-position: -514px 0;
  height: 180px;
  left: auto;
  right: -17px;
  top: -120px;
  width: 190px;
  z-index: 99999
}

.share div.ico:hover div.share-this, .share div.ico:hover div.follow {
  display: block
}

.share .pop div.share-this, .share .pop div.follow {
  display: none
}

.share .gplus .pop {
  left: auto;
  top: -133px;
  left: -63px;
  background-position: 0 -6px;
  height: 190px;
  width: 207px
}

.share div.ico.gmap .pop iframe {
  border: 4px solid #FFF;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px
}

.share div.ico.gmap .pop {
  top: -170px
}

.map-border {
  border: 10px solid #493b32;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px
}

h1 {
  font-size: 40px;
  font-family: BebasNeueRegular
}

.share .twitter .pop div.share-this {
  margin-top: 80px
}

i img {
  width: 100%;
  height: 100%
}

i {
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  -webkit-transform-origin: left -20px;
  -webkit-animation-name: falling;
  -webkit-animation-duration: 3s;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: none;
  -webkit-animation-play-state: running;
  -moz-animation: falling 3s linear 2s infinite
}

@-webkit-keyframes falling {
  0% {
    -webkit-transform: translate3d(0, 0, 0) 
    rotate(0deg) 
    scale(0.9, 0.9)
  }

  100% {
    -webkit-transform: translate3d(30px, 1000px, 0) 
    rotate(360deg) 
    scale(1.1, 1.1)
  }

}

@-moz-keyframes falling {
  0% {
    -moz-transform: translate3d(0, 0, 0) 
    rotate(0deg) 
    scale(0.9, 0.9)
  }

  100% {
    -moz-transform: translate(30px, 1000px) 
    rotate(360deg) 
    scale(1.1, 1.1)
  }

}

#flakes i:nth-of-type(4n) {
  height: 30px;
  width: 30px;
  -webkit-transform-origin: right -30px;
  -moz-transform-origin: right -30px
}

#flakes i:nth-of-type(4n+1) {
  height: 24px;
  width: 24px;
  -webkit-transform-origin: left -30px;
  -moz-transform-origin: left -30px
}

#flakes i:nth-of-type(4n+2) {
  height: 10px;
  width: 10px;
  -webkit-transform-origin: -30px 0;
  -moz-transform-origin: -30px 0
}

#flakes i:nth-of-type(4n) {
  -webkit-animation-duration: 5.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: -10px -20px;
  -moz-animation-duration: 5.3s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: -10px -20px
}

#flakes i:nth-of-type(4n+1) {
  -webkit-animation-duration: 3.1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 10px -20px;
  -moz-animation-duration: 3.1s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 10px -20px
}

#flakes i:nth-of-type(4n+2) {
  -webkit-animation-duration: 1.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: right -20px;
  -moz-animation-duration: 1.7s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: right -20px
}

#flakes i:nth-of-type(3n) {
  -webkit-animation-delay: 2.3s;
  -moz-animation-delay: 2.3s
}

#flakes i:nth-of-type(3n+1) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s
}

#flakes i:nth-of-type(3n+2) {
  -webkit-animation-delay: 3.4s;
  -moz-animation-delay: 3.4s
}

#flakes i:nth-of-type(5n) {
  -webkit-animation-timing-function: ease-in-out
}

#flakes i:nth-of-type(5n+1) {
  -webkit-animation-timing-function: ease-out
}

#flakes i:nth-of-type(5n+2) {
  -webkit-animation-timing-function: ease
}

#flakes i:nth-of-type(5n+3) {
  -webkit-animation-timing-function: ease-in
}

#flakes i:nth-of-type(5n+4) {
  -webkit-animation-timing-function: linear
}

#flakes i:nth-of-type(11n) {
  -webkit-animation-timing-function: cubic-bezier(0.2, 0.3, 0.8, 0.9)
}

#flakes i:nth-of-type(5n) {
  -moz-animation-timing-function: ease-in-out
}

#flakes i:nth-of-type(5n+1) {
  -moz-animation-timing-function: ease-out
}

#flakes i:nth-of-type(5n+2) {
  -moz-animation-timing-function: ease
}

#flakes i:nth-of-type(5n+3) {
  -moz-animation-timing-function: ease-in
}

#flakes i:nth-of-type(5n+4) {
  -moz-animation-timing-function: linear
}

#flakes i:nth-of-type(11n) {
  -moz-animation-timing-function: cubic-bezier(0.2, 0.3, 0.8, 0.9)
}

#flakes i:nth-of-type(7n) {
  opacity: 0.5
}

#flakes i:nth-of-type(7n+2) {
  opacity: 0.3
}

#flakes i:nth-of-type(7n+4) {
  opacity: 0.7
}

#flakes i:nth-of-type(7n+6) {
  opacity: 0.6;
  -webkit-animation-timing-function: ease-in;
  -webkit-transform-origin: left 10px;
  -moz-animation-timing-function: ease-in;
  -moz-transform-origin: left 10px
}

#flakes i:nth-of-type(7n+1) {
  opacity: 0.8
}

#presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  left: -1px;
  top: 0px;
  overflow: hidden
}

#flakes {
  position: relative;
  top: -30px;
  width: 100%;
  text-align: center
}

@-moz-keyframes zigzaga {
  0%, 100% {
    right: 75px
  }

  50% {
    right: 80px
  }

}

@-webkit-keyframes zigzaga {
  0%, 100% {
    right: 75px
  }

  50% {
    right: 80px
  }

}

#bubble1 {
  -webkit-animation: zigzaga ease 1.5s infinite;
  -moz-animation: zigzaga ease 1.5s infinite
}

@-webkit-keyframes zigzagb {
  0%, 100% {
    left: 15px
  }

  50% {
    left: 5px
  }

}

@-moz-keyframes zigzagb {
  0%, 100% {
    left: 15px
  }

  50% {
    left: 5px
  }

}

#bubble {
  -webkit-animation: zigzagb ease 2s infinite;
  -moz-animation: zigzagb ease 2s infinite
}

.whos {
  left: 50%;
  margin-left: -350px;
  position: absolute;
  bottom: 0;
  width: 700px;
}

.whos a {
  color: white;
}

.copyright {
  width: 100%;
  clear: both;
  text-align: center;
  font-family: georgia, arial;
  font-style: italic;
  /* margin-top: 30px; */
  font-size: 12px;
  color: #7fa4a5;
  /* float: left; */
  background: url(images/footer.png) no-repeat center bottom;
  height: 100px;
  overflow: hidden;
  line-height: 170px;
  color: #dedad3;
}
